{% extends 'main.html' %} {% load static %}
<!--CSS-->
{% block css_file %}
<link href="{% static 'css/chat.css' %}" rel="stylesheet" />
{% endblock %}

<!--Javascript-->
{% block script_file %}
<script src="{% static 'js/chat.js' %}" defer></script>
{% endblock %}

<!--Content-->
{% block content %}
<div class="content">
  <div class="chat-container">
    <div class="chat-header">
      <img
        src="{% static 'images/default_profile_icon.png' %}"
        alt="{{receiver_username}}"
      />
      <span>{{receiver_username}}</span>
    </div>
    <div class="chat-messages" id="chat-messages">
      {% for message in chat_messages %}
      <!---->
      {% if message.sender.username == request.user.username %}
      <div class="message sent">{{message.body}}</div>
      {% else %}
      <div class="message received">{{message.body}}</div>
      {% endif %}
      <!---->
      {% endfor %}
    </div>
    <div class="chat-footer">
      <input type="text" id="chat-input" placeholder="Type a message..." />
      <button id="send-btn">&#10148;</button>
    </div>
  </div>
</div>

<!--Pass data to javascript-->
{{ receiver_username|json_script:"username_tag" }}

<!--endblock-->
{% endblock %}
