{% extends 'main.html' %} {% load static %}
<!--CSS-->
{% block css_file %}
<link href="{% static 'css/lobby.css' %}" rel="stylesheet" />
{% endblock %}

<!--Javascript-->
{% block script_file %}
<script src="{% static 'js/lobby.js' %}" defer></script>
{% endblock %}

<!-- Content -->
{% block content %}
<div class="content">
  <div class="lobby-container">
    <!-- Search Bar -->
    <div class="search-bar">
      <input
        type="text"
        id="searchInput"
        placeholder="Search chats..."
        onkeyup="filterChats()"
      />
    </div>
    <!-- Active Chats List -->
    <div class="active-chats" id="chatList">
      <!-- Chat items will be created dynamically -->
      {% for chat in active_chats %}
      <a href="/chat/{{chat.username}}/">
        <div class="chat-item">
          <img
            src="{% static 'images/default_profile_icon.png' %}"
            alt="{{chat.username}}"
            class="profile-icon"
          />
          <div class="chat-info">
            <div class="chat-name">{{chat.username}}</div>
            <div class="chat-message">{{chat.last_message}}</div>
          </div>
        </div>
      </a>

      {% endfor %}
    </div>
  </div>
</div>
{{ active_chats|json_script:"active-chats-data" }}
<!--End-->
{% endblock content %}
